.header-wrapper{
  background: #BC3335;
  padding: 20px;
}
.header-container{
   width: 80%;
   margin: 0 auto;
}
.header-link{
   float: right;
}

.header-link a{
   margin: 5px 10px;
   text-decoration: none;
   color: #fff;
}
